
@{
  Layout = "_Layout";
}

@model VendorTracker.Models.Vendor

<h4>Editing @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.VendorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.Phone)
  @Html.EditorFor(model => model.Phone)

  @Html.LabelFor(model => model.Email)
  @Html.EditorFor(model => model.Email)

  @Html.LabelFor(model => model.BreadRate)
  @Html.EditorFor(model => model.BreadRate)

  @Html.LabelFor(model => model.PastryRate)
  @Html.EditorFor(model => model.PastryRate)

  <button class="green" type="submit">Save Changes</button>
}

<a href='@Url.Action("Index")'>
  <button>Exit without saving</button>
</a>