@{
  Layout = "_Layout";
}

@using VendorTracker.Models

<div class="message" id="vendors-message">Current Vendors:</div>

 @if (Model.Count == 0)
  {
    <p class="empty-list-message">No vendors!</p>
  }
  <ul class="card-list" id="vendor-list">
    @foreach (Vendor vendor in Model)
    {
      <li class="card vendor-card" id=@vendor.Id>
        <div class="card-row-area">
          <div class="vendor-name">
            <h3>@vendor.Name</h3>
          </div>
          <div class="vendor-description">
            @vendor.Description
          </div>
          <div class="vendor-phone">
            Phone: @vendor.Phone
          </div>
          <div class="vendor-email">
            Email: @vendor.Email
          </div>
          <div class="vendor-order-count">
            Orders: @vendor.Orders.Count
          </div>
        </div>
        <div class="card-button-area">
          <a href="/vendors/@vendor.Id/orders">
            <button>View / Add Orders</button>
          </a>
          <div class="edit-buttons-area">
            <a href="/vendors/@vendor.Id/edit">
              <button class="yellow">Edit</button>
            </a>
            <a href="/vendors/@vendor.Id/delete">
              <button class="red">Delete</button>
            </a>
          </div>
        </div>
      </li>
    }
  </ul>

<a href="/vendors/new">
  <button class="green">Add New Vendor</button>
</a>
@if (Model.Count > 0) {
  <a href="/vendors/delete">
    <button class="red">Delete All Vendors</button>
  </a>
}